.header{
    height:34vw;
    margin:30px auto;
    background:url("/header_img.png") no-repeat;
    position:relative;
    background-size:contain;
    color:white;
}
.header-contents{
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content: center;
    gap:1.5vw;
    align-items:start;
    max-width:50%;
    bottom:10%;
    left:6vw;
    animation:fadeIn 3s;

}
.header-contents button{
    background:white;
    color:#747474;
    font-weight:500;
    padding:1vw 2.3vw;
    font-size: max(1vw,13px);
    border-radius: 50px;
    border:none;
    cursor:pointer;

}
.header-contents h2{
    font-size: max(4.5vw,22px);
    font-weight:500;
    color:white;
}
.header-contents p{
    font-size:1vw;
}

@media(max-width:1050px){
   
    .header-contents{
        max-width:45%;
    }
}

@media(max-width:750px){
    .header-contents{
        max-width:65%;
    }
    .header-contents p{
        display:none;
    }
    .header-contents button{
        padding:2vw 4vw;
    }
}